@import url(//i.gzcdn.net/mui/font/appfont/app/SpoqaHanSansNeo.css);


:root {font-family:'Spoqa Han Sans Neo', 'sans-serif'; line-height: 1.5; font-weight: 400; color-scheme: light dark; background-color: #242424;
  font-synthesis: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;}

a {font-weight: 500; color: #646cff; text-decoration: inherit;}
a:hover {color: #535bf2;}
body {width:100vw; margin:0;  min-height:100vh;}

